{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid products-background color-scheme">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="koulen-font text-white">Reviews</h2>
                <hr class="w-50 mb-1 mx-auto">
                {% if reviews %}
                <span class="text-white">Number of reviews: {{ reviews|length }}</span>
                {% else %}
                <span class="text-white">No reviews yet.</span>
                {% endif %}
            </div>
        </div>

        <div class="row color-scheme">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    {% for review in reviews %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if review.products.image %}
                                <a href="{% url 'product_detail' review.products.id %}">
                                    <img class="card-img-top img-fluid" src="{{ review.product.image.url }}" alt="{{ review.product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' review.products.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <h4 class="mb-0 text-center font-weight-bold roboto-font">{{ review.title }}</h4>
                                </div>
                                <div class="card-body pb-0">
                                    <h6 class="mb-0 text-center font-weight-bold product-reviewed">{{ review.products }}</h6>
                                </div>
                                <div class="col">
                                    <p class="mb-0 text-center">
                                        {{ review.review }}</p>
                                </div>
                                <div class="card-body pb-0">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <p class="mb-0"><strong>Posted:</strong> {{ review.created }}</p>
                                </div>
                                <div class="card-body pb-0">
                                    <span>
                                        <i class="fas fa-check-circle"></i>
                                    </span>
                                    <p class="mb-0"><strong>Updated:</strong> {{ review.updated }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="card-body pb-0">
                                            <span class="icon">
                                                <i class="fas fa-user-check"></i>
                                            </span>
                                            <p class="mb-0"><strong>Reviewed by:</strong> {{ review.user }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% if review.user == request.user or request.user.is_superuser %}
                                    <div class="row">
                                        <div class="col">
                                            <a href="{% url 'edit_review' review.id %}" class="text-black">Edit</a>
                                            <a href="{% url 'delete_review' review.id %}" class="text-danger">Delete</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black text-center"></div>
{% endblock %}