<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary mr-5 products" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item menu-link">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item menu-link">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item menu-link">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item menu-link">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary mr-5 products" href="#" id="playstation-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PlayStation
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="playstation-link">
                <a href="{% url 'products' %}?category=ps3" class="dropdown-item menu-link">PS3</a>
                <a href="{% url 'products' %}?category=ps4" class="dropdown-item menu-link">PS4</a>
                <a href="{% url 'products' %}?category=ps3,ps4" class="dropdown-item menu-link">All PlayStation Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary mr-5 products" href="#" id="xbox-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Xbox
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="xbox-link">
                <a href="{% url 'products' %}?category=xbox360" class="dropdown-item menu-link">Xbox 360</a>
                <a href="{% url 'products' %}?category=xboxone" class="dropdown-item menu-link">Xbox One</a>
                <a href="{% url 'products' %}?category=xbox360,xboxone" class="dropdown-item menu-link">All Xbox Games</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-primary products" href="{% url 'products' %}?category=wii" id="wii-link" aria-haspopup="true" aria-expanded="false">
                Wii
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-primary products" href="{% url 'products' %}?category=special-offers" id="specials-link" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-primary products" href="{% url 'reviews' %}" id="reviews-link" aria-haspopup="true" aria-expanded="false">
                Reviews
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-primary products" href="{% url 'posts' %}" id="blog-link" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-primary products" href="{% url 'newsletter' %}" id="newsletter-link" aria-haspopup="true" aria-expanded="false">
                Newsletter
            </a>
        </li>
    </ul>
</div>