<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary mr-5 products" href="products" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary mr-5 products" href="#" id="playstation-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PlayStation
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="playstation-link">
                <a href="{% url 'products' %}?category=ps3" class="dropdown-item menu-link">PS3</a>
                <a href="{% url 'products' %}?category=ps4" class="dropdown-item menu-link">PS4</a>
                <a href="{% url 'products' %}?category=ps3,ps4" class="dropdown-item menu-link">All PlayStation Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary mr-5 products" href="#" id="xbox-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Xbox
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="xbox-link">
                <a href="{% url 'products' %}?category=xbox360" class="dropdown-item menu-link">Xbox 360</a>
                <a href="{% url 'products' %}?category=xboxone" class="dropdown-item menu-link">Xbox One</a>
                <a href="{% url 'products' %}?category=xbox360,xboxone" class="dropdown-item menu-link">All Xbox Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary products" href="#" id="wii-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wii
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wii-link">
                <a href="{% url 'products' %}?category=wii" class="dropdown-item menu-link">Wii</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary products" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wii-link">
                <a href="{% url 'products' %}?category=special-offers" class="dropdown-item menu-link">Special Offers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary products" href="#" id="reviews-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reviews
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="reviews-link">
                <a href="{% url 'reviews' %}" class="dropdown-item menu-link">Reviews</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-primary products" href="#" id="blog-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blog-link">
                <a href="{% url 'posts' %}" class="dropdown-item menu-link">Blog</a>
            </div>
        </li>
    </ul>
</div>