{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid products-background color-scheme">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="koulen-font blog-header text-white">Blog Posts</h2>
                <hr class="w-50 mb-1">
                {% if posts %}
                Number of posts: {{ posts|length }}
                {% else %}
                No blog posts yet.
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    {% for post in posts %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0 border-white post">
                                <a href="{% url 'post_details' post.id %}">
                                    {% if post.image %}
                                    <a href="{% url 'post_details' post.id %}">
                                        <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.id }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'post_details' post.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.id }}">
                                    </a>
                                    {% endif %}
                                    <div class="card-body pb-0">
                                        <h4 class="mb-0 text-black"><strong>{{ post.title }}</strong></h4>
                                    </div>
                                    <div class="card-body pb-0">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                        <p class="mb-0 text-black"><strong>Posted:</strong> {{ post.created }}</p>                                        </div>
                                    <div class="card-body pb-0">
                                        <span>
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                        <p class="mb-0 text-black"><strong>Updated:</strong> {{ post.updated }}</p>
                                    </div>
                                     <div class="card-footer pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="card-body pb-0">
                                                <span class="icon">
                                                    <i class="fas fa-user-check"></i>
                                                </span>
                                                <p class="mb-0 user text-black"><strong>Posted by: </strong>{{ post.user }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% if request.user.is_superuser %}
                                    <div class="row">
                                         <div class="col">
                                            <a href="{% url 'edit_post' post.id %}"
                                                class="text-black">Edit</a>
                                            <a href="{% url 'delete_post' post.id %}"
                                                class="text-danger">Delete</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}