{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid color-scheme">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container blog-image my-5">
                    {% if post.image %}
                        <a href="{% url 'post_details' post.id %}">
                            <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.id }}">
                        </a>
                    {% else %}
                        <a href="{% url 'post_details' post.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.id }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="post-details-container mb-5 mt-md-5">
                    <h2 class="mb-5 text-white roboto-font post-title">{{ post.title }}</h2>
                    <p class="lead mb-4 text-left text-white font-weight-bold">{{ post.post }}</p>
                    <p class="lead mb-2 post-info text-left text-white font-weight-bold">Posted: {{ post.created }}</p>
                    <p class="lead mb-2 post-info text-left text-white font-weight-bold">Updated: {{ post.updated }}</p>
                    <p class="lead mb-2 post-info text-left text-white font-weight-bold user">Posted by: {{ post.user }}</p>
                    {% if request.user.is_superuser %}
                        <div class="row">
                            <div class="col mt-2">
                                <a href="{% url 'edit_post' post.id %}"
                                    class="text-white">Edit</a>
                                <a href="{% url 'delete_post' post.id %}"
                                    class="text-white">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                    <a href="{% url 'posts' %}" class="btn btn-outline-black rounded-0 btn-md mt-5 continue-shopping">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Posts</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input.html' %}
{% endblock %}